@use "../../assets/css/vars.module.scss";

.search-container {
  width: 30%;
  background-color: #fff;
  padding: 15px;
  padding-bottom: 0px;
  display: flex;
  flex-direction: column;
  justify-content: stretch;
}

.search-results-container {
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  height: 100%;
}
