@use "../../assets/css/vars.scss";

.search-container {
  width: 30%;
  background-color: #fff;
  height: calc(100vh - vars.$header-height - vars.$footer-height);
  padding: 15px;
  overflow-y: scroll;
}
