@use "../../../assets/css/vars.module.scss";

.search-result-card {
  display: flex;
  flex-direction: column;
  padding: 20px;
  border-bottom: 1px solid lightgray;
}

.attraction-icon-button-container {
  display: flex;
  gap: 10px;
}

.attraction-heading {
  color: vars.$primary-color;
}

.attraction-locale {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 0.85em;

  margin: 5px 0 15px 0;
}
