@use "./css-reset.scss";
@use "../../components/Header/Header";
@use "../../components/Footer/Footer";
@use "../../components/SearchContainer/SearchContainer.scss";
@use "../css/vars.scss";

:root {
  font-family: "Lilita One", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

#root {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100vh;
}

.container {
  width: vars.$container-width;
  margin-inline: auto;
  height: 100%;
}

input {
  border: none;
}
