@use "../../assets/css/vars.scss";

footer {
  background-color: vars.$primary-color;
  height: vars.$footer-height;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

img {
  height: 30px;
}
